<div class="pokemon-card" [ngClass]="primaryType()">

    <div class="pokemon-image">
        <img [src]="pokeImage()" [alt]="pokeName" />
    </div>

    <div class="pokemon-info">

        <span class="pokemon-number">
            #{{pokeid()}}
        </span>

        <h2> {{pokeName}} </h2>

        <div class="pokemon-types">
            <span class="type" [ngClass]="primaryType()">
                {{ primaryType() }}
            </span>
            @if (secondaryType()) {
                <span class="type" [ngClass]="secondaryType()">
                    {{ secondaryType() }}
                </span>
            }
        </div>

    </div>

</div>